* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 16vw 0;
}

#page1 h1 {
    font-size: 4.3vw;
    font-weight: 700;
    line-height: 5vw;
}

#page1 h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 500;
    margin: 3vh;
}

nav {
    position: fixed;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 8vh;
    width: 100%;
    padding: 1.8vh 34vh;
}

nav h1 {
    font-size: 1.3vw;
    font-weight: 800;
}

.nav_p2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.89vw;
    padding: 1vh 0;
    padding-left: 26vw;
}

.nav_p2 h4 {
    padding: 0 0.4vw;
    font-size: 0.75vw;
    font-weight: 700;
}

.nav_elem {
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_elem h4 {
    /* background-color: #3D3D3D; */
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    margin: -0.7vw 0 0.3vw 0;
    border-radius: 2vw;
}

.nav_elem h4:hover {
    background-color: #3D3D3D;
}

.elem_span {
    padding: 2vh;
    /* border-bottom: 1px solid black; */
    margin: 0px 0.5vw 0 0.5vw;
}

.elem_span h5 {
    padding: 0.6vh;
    font-size: 0.6vw;
    /* background-color: aqua; */
    overflow: hidden;
}

.nav_p2 h5 span {
    /* background-color: red; */
    color: #111;
    font-weight: 800;
    transform: translateY(25px);
    display: none;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0da34e;
    color: #fff;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 0.67vw;
    font-weight: 900;
    padding: 0 0 0 0.8vw;
    gap: 0.72vw;
}

nav button svg {
    height: 2vw;
    width: vw;
    display: flex;
}

.nav_bottom {
    height: 0;
    width: 0;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}