* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 16vw 0;
}

#page1 h1 {
    font-size: 4.3vw;
    font-weight: 700;
    line-height: 5vw;
}

#page1 h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 500;
    margin: 3vh;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 8vh;
    width: 100%;
    padding: 1.8vh 34vh;

}

nav h1 {
    font-size: 1.3vw;
    font-weight: 800;
}

.nav_p2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.89vw;
    padding: 1vh 0;
    padding-left: 26vw;
}

.nav_p2 h4 {
    padding: 0 0.4vw;
    font-size: 0.75vw;
    font-weight: 700;
}

.nav_elem {
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_elem h4 {
    /* background-color: #3D3D3D; */
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    margin: -0.7vw 0 0.3vw 0;
    border-radius: 2vw;
}

.nav_elem h4:hover {
    background-color: #3D3D3D;
}

.elem_span {
    padding: 2vh;
    /* border-bottom: 1px solid black; */
    margin: 0 0.5vw -1vw 0.5vw;
}

.elem_span h5 {
    padding: 0.6vh;
    font-size: 0.6vw;
    /* background-color: aqua; */
    overflow: hidden;
}

.nav_p2 h5 span {
    /* background-color: red; */
    color: #111;
    font-weight: 800;
    transform: translateY(25px);
    display: none;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0da34e;
    color: #fff;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 0.67vw;
    font-weight: 900;
    padding: 0 0 0 0.8vw;
    gap: 0.72vw;
}

nav button svg {
    height: 2vw;
    width: vw;
    display: flex;
}

.nav_bottom {
    height: 0;
    width: 0;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    margin-top: -18.8vw;
    position: relative;
}

#page2 video {
    height: auto;
    width: 66vw;
    border-radius: 1vw;
}

#page2 .video {
    /* position: relative; */
    height: 37.2vw;
}

#page2 .video .green {
    background-color: #0da34e;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    bottom: 25.44%;
    top: 0;
}

#page2 .inner video {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
}

#page3 {
    height: 80vh;
    max-width: 100VW;
    background-color: #111;
    margin-top: -3vw;
}

#page3 .first,
.second {
    display: flex;
    justify-content: center;
    align-items: center;

}

.first .card1,
.card2,
.card3 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 43vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}


.second .card_tall1,
.card_tall2 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 65vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}

#page3 .index {
    position: absolute;
    top: 1.7vw;
    left: 1.7vw;
    font-size: 0.7vw;
    font-weight: 600;
    color: #5E5E5E;
    z-index: 1;
}

#page3 h2 {
    position: absolute;
    left: 1.7vw;
    bottom: 4.5vw;
    font-size: 2.7vw;
    z-index: 1;
}

#page3 p {
    position: absolute;
    left: 1.7vw;
    bottom: 1.7vw;
    font-size: 1vw;
    font-weight: 400;
    color: #9b9b9b;
    z-index: 1;
}

.video1,
.video2,
.video3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    /* overflow: hidden; */


}

.video1 video,
.video2 video,
.video3 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

#page4 {
    height: 77vh;
    width: 100%;
    position: relative;
    /* background-image: url(blob:https://www.lazarev.agency/b289db61-5c2d-4b13-b60d-ca1ce577d212); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,
            #0F124A,
            #14195B,
            #19206C,
            #1E2780,
            #243095,
            #2A39A8,
            #3043BA,
            #364CD0,
            #3F4CD6,
            #364CD0,
            #3043BA,
            #2A39A8,
            #243095,
            #1E2780,
            #19206C,
            #14195B,
            #0F124A);
    background-size: 200% 100%;
    animation: gradientShift 6s linear infinite;
}

@keyframes gradientShift {
    to {
        background-position: 200%;
    }
}

#page4 h1 {
    color: #fff;
    font-size: 4.5vw;
}

#page4 p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#page4 h3 {
    color: #fff;
    font-size: 1.4vw;
    font-weight: 500;
    padding: 3vw;
}

#page4 button {
    padding: 1.1vw 2.5vw;
    font-size: 0.72vw;
    font-weight: 700;
    border-radius: 10vw;
    border: none;
}

#page5 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
}

.pg5_container {
    width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pg5_container h1 {
    font-size: 3.5vw;
}

.pg5_container h2 {
    font-size: 1.16vw;
    font-weight: 500;
    margin: 1.2vw 0;
    margin-bottom: 4vw;
}

.pg5_row1,
.pg5_row2,
.pg5_row3 {
    /* border: 2px solid red; */
    display: flex;
}

.card {
    /* border: 2px solid rebeccapurple; */
    height: 8vw;
    width: 22vw;
    position: relative;
}

.card h3 {
    font-size: 1.25vw;
    position: absolute;
    top: 0;
}

.card p {
    font-size: 0.72vw;
    font-weight: 500;
    position: absolute;
    top: 2.2vw;
    margin-right: 2.5vw;
    color: #8D8D8D;
}

#page5 button {
    background-color: #4F5BFF;
    color: #fff;
    padding: 1.1vw 5.5vw;
    font-size: 0.72vw;
    font-weight: 700;
    border-radius: 10vw;
    border: none;
    margin-top: 1.4vw;
}

#page6 {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 5vw;
}

.pg6_container {
    width: 66vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vw;
    gap: 2vw;
}

.pg6_container .left h1 {
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 2.7vw;
    margin-top: 2.2vw;
}

.pg6_container .right h4 {
    color: #AAAAAA;
    text-transform: uppercase;
    font-size: 0.75vw;
    font-weight: 500;
    margin-top: 2.2vw;
}

.pg6_container .right h3 {
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 2.2vw;
    line-height: 1.6vw;
}


.pg6_box {
    width: 66vw;
    margin-top: 4vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3vw;
}

.box {
    background-color: #f7f7f7;
    padding: 2vw;
    border-radius: 0.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2.5vw;
    gap: 3vw;
}

.box p {
    color: #7c7c7c;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 0.7vw;
}

.box span {
    position: absolute;
    bottom: 1.2vw;
    right: 1.5vw;
    color: #bcbcbc;
    font-size: 0.8vw;
    font-weight: 400;
}