*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 5vw;
    font-weight: 900;
    line-height: 5vw;
}
#page1 h3{
    text-align: center;
    font-weight: 600;
    margin: 6vh;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}