* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 16vw 0;
}

#page1 h1 {
    font-size: 4.3vw;
    font-weight: 700;
    line-height: 5vw;
}

#page1 h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 500;
    margin: 3vh;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 8vh;
    width: 100%;
    padding: 1.8vh 34vh;

}

nav h1 {
    font-size: 1.3vw;
    font-weight: 800;
}

.nav_p2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.89vw;
    padding: 1vh 0;
    padding-left: 26vw;
}

.nav_p2 h4 {
    padding: 0 0.4vw;
    font-size: 0.75vw;
    font-weight: 700;
}

.nav_elem {
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_elem h4 {
    /* background-color: #3D3D3D; */
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    margin: -0.7vw 0 0.3vw 0;
    border-radius: 2vw;
}

.nav_elem h4:hover {
    background-color: #3D3D3D;
}

.elem_span {
    padding: 2vh;
    /* border-bottom: 1px solid black; */
    margin: 0 0.5vw -1vw 0.5vw;
}

.elem_span h5 {
    padding: 0.6vh;
    font-size: 0.6vw;
    /* background-color: aqua; */
    overflow: hidden;
}

.nav_p2 h5 span {
    /* background-color: red; */
    color: #111;
    font-weight: 800;
    transform: translateY(25px);
    display: none;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0da34e;
    color: #fff;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 0.67vw;
    font-weight: 900;
    padding: 0 0 0 0.8vw;
    gap: 0.72vw;
}

nav button svg {
    height: 2vw;
    width: vw;
    display: flex;
}

.nav_bottom {
    height: 0;
    width: 0;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    margin-top: -18.8vw;
    position: relative;
}

#page2 video {
    height: auto;
    width: 66vw;
    border-radius: 1vw;
}

#page2 .video {
    /* position: relative; */
    height: 37.2vw;
}

#page2 .video .green {
    background-color: #0da34e;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    bottom: 25.44%;
    top: 0;
}

#page2 .inner video {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
}

#page3 {
    height: 80vh;
    max-width: 100VW;
    background-color: #111;
    margin-top: -3vw;
}

#page3 .first,
.second {
    display: flex;
    justify-content: center;
    align-items: center;

}

.first .card1, .card2, .card3 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 43vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}


.second .card_tall1, .card_tall2 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 65vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}

#page3 .index {
    position: absolute;
    top: 1.7vw;
    left: 1.7vw;
    font-size: 0.7vw;
    font-weight: 600;
    color: #5E5E5E;
    z-index: 1;
}

#page3 h2{
    position: absolute;
    left: 1.7vw;
    bottom: 4.5vw;
    font-size: 2.7vw;
    z-index: 1;
}

#page3 p{
    position: absolute;
    left: 1.7vw;
    bottom: 1.7vw;
    font-size: 1vw;
    font-weight: 400;
    color: #9b9b9b;
    z-index: 1;
}

    .video1, .video2, .video3 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        /* overflow: hidden; */
        
        
    }

    .video1 video, .video2 video, .video3 video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1vw;
    }

    #page4{
        height: 77vh;
        width: 100%;
        position: relative;
        /* background-image: url(blob:https://www.lazarev.agency/b289db61-5c2d-4b13-b60d-ca1ce577d212); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #0F124A, #161A5E, #1F257A, #2D35A1, #3442BA, #3F4CD6, #2D35A1, #1F257A, #161A5E, #0F124A);
         background-size: 200%;
        animation: rgb-shifting 9s linear infinite;
    }

    @keyframes rgb-shifting {
    to {
        background-position: 200%;
    }
}

    #page4 h1{
        color: #fff;
        font-size: 4.5vw;
    }

    #page4 p{
        color: #fff;
        font-size: 1.3vw;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    
    #page4 h3{
        color: #fff;
        font-size: 1.4vw;
        font-weight: 500;
        padding: 3vw;
    }

    #page4 button{
        padding: 1.1vw 2.5vw;
        font-size: 0.72vw;
        font-weight: 700;
        border-radius: 10vw;
        border: none;
    }