* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 16vw 0;
}

#page1 h1 {
    font-size: 4.3vw;
    font-weight: 700;
    line-height: 5vw;
}

#page1 h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 500;
    margin: 3vh;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 5.4vh;
    width: 100%;
    padding: 0.7vh 34vh;
}

nav h1 {
    font-size: 1.3vw;
    font-weight: 800;
}

.nav_p2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.89vw;
    padding: 1vh 0;
    padding-left: 26vw;
}

.nav_p2 h4 {
    padding: 0 0.4vw;
    font-size: 0.75vw;
    font-weight: 700;
}

.nav_elem {
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_elem h4 {
    /* background-color: #3D3D3D; */
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    margin: -0.7vw 0 0.3vw 0;
    border-radius: 2vw;
}

.nav_elem h4:hover {
    background-color: #3D3D3D;
}

.elem_span {
    padding: 2vh;
    /* border-bottom: 1px solid black; */
    margin: 0 0.5vw -1vw 0.5vw;
}

.elem_span h5 {
    padding: 0.6vh;
    font-size: 0.6vw;
    /* background-color: aqua; */
    overflow: hidden;
}

.nav_p2 h5 span {
    /* background-color: red; */
    color: #111;
    font-weight: 800;
    transform: translateY(25px);
    display: none;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0da34e;
    color: #fff;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 0.67vw;
    font-weight: 900;
    padding: 0 0 0 0.8vw;
    gap: 0.72vw;
}

nav button svg {
    height: 2vw;
    width: vw;
    display: flex;
}

.nav_bottom {
    height: 0;
    width: 0;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    margin-top: -18.8vw;
    position: relative;
}

#page2 video {
    height: auto;
    width: 66vw;
    border-radius: 1vw;
}

#page2 .video {
    /* position: relative; */
    height: 37.2vw;
}

#page2 .video .green {
    background-color: #0da34e;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    bottom: 25.44%;
    top: 0;
}

.green h5 {
    font-size: 0.6vw;
    font-weight: 800;
    color: #fff;
}

#page2 .inner video {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    z-index: 999;
}

#page3 {
    height: 80vh;
    max-width: 100VW;
    background-color: #111;
    margin-top: -3vw;
}

#page3 .first,
.second {
    display: flex;
    justify-content: center;
    align-items: center;

}

.first .card1,
.card2,
.card3 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 43vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}


.second .card_tall1,
.card_tall2 {
    background-color: #1F1F1F;
    color: #fff;
    /* border: 2px solid red; */
    height: 37vh;
    width: 65vh;
    margin: 0.15vw;
    border-radius: 1vw;
    position: relative;
}

#page3 .index {
    position: absolute;
    top: 1.7vw;
    left: 1.7vw;
    font-size: 0.7vw;
    font-weight: 600;
    color: #5E5E5E;
    z-index: 1;
}

#page3 h2 {
    position: absolute;
    left: 1.7vw;
    bottom: 4.5vw;
    font-size: 2.7vw;
    z-index: 1;
}

#page3 p {
    position: absolute;
    left: 1.7vw;
    bottom: 1.7vw;
    font-size: 1vw;
    font-weight: 400;
    color: #9b9b9b;
    z-index: 1;
}

.video1,
.video2,
.video3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    /* overflow: hidden; */


}

.video1 video,
.video2 video,
.video3 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

#page4 {
    height: 77vh;
    width: 100%;
    position: relative;
    /* background-image: url(blob:https://www.lazarev.agency/b289db61-5c2d-4b13-b60d-ca1ce577d212); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,
            #0F124A,
            #0f374a,
            #0f4a42,
            #0f4a21,
            #304a0f,
            #0F124A);
    background-size: 200% 100%;
    animation: gradientShift 6s linear infinite;
}

@keyframes gradientShift {
    to {
        background-position: 200%;
    }
}

#page4 h1 {
    color: #fff;
    font-size: 4.5vw;
}

#page4 p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#page4 h3 {
    color: #fff;
    font-size: 1.4vw;
    font-weight: 500;
    padding: 3vw;
}

#page4 button {
    padding: 1.1vw 2.5vw;
    font-size: 0.72vw;
    font-weight: 700;
    border-radius: 10vw;
    border: none;
}

#page5 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
}

.pg5_container {
    width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pg5_container h1 {
    font-size: 3.5vw;
}

.pg5_container h2 {
    font-size: 1.16vw;
    font-weight: 500;
    margin: 1.2vw 0;
    margin-bottom: 4vw;
}

.pg5_row1,
.pg5_row2,
.pg5_row3 {
    /* border: 2px solid red; */
    display: flex;
}

.card {
    /* border: 2px solid rebeccapurple; */
    height: 8vw;
    width: 22vw;
    position: relative;
}

.card h3 {
    font-size: 1.25vw;
    position: absolute;
    top: 0;
}

.card p {
    font-size: 0.72vw;
    font-weight: 500;
    position: absolute;
    top: 2.2vw;
    margin-right: 2.5vw;
    color: #8D8D8D;
}

#page5 button {
    background-color: #4F5BFF;
    color: #fff;
    padding: 1.1vw 5.5vw;
    font-size: 0.72vw;
    font-weight: 700;
    border-radius: 10vw;
    border: none;
    margin-top: 1.4vw;
}

#page6 {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 5vw;
}

.pg6_container {
    width: 66vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vw;
    gap: 2vw;
}

.pg6_container .left h1 {
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 2.7vw;
    margin-top: 2.2vw;
}

.pg6_container .right h4 {
    color: #AAAAAA;
    text-transform: uppercase;
    font-size: 0.75vw;
    font-weight: 500;
    margin-top: 2.2vw;
}

.pg6_container .right h3 {
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 2.2vw;
    line-height: 1.6vw;
}


.pg6_box {
    width: 66vw;
    margin-top: 4vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3vw;
}

.box {
    background-color: #f7f7f7;
    padding: 2vw;
    border-radius: 0.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2.5vw;
    gap: 3vw;
}

.box p {
    color: #7c7c7c;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 0.7vw;
}

.box span {
    position: absolute;
    bottom: 1.2vw;
    right: 1.5vw;
    color: #bcbcbc;
    font-size: 0.8vw;
    font-weight: 400;
}

#page7 {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
}

#page7 .pg7_container {
    width: 66vw;
    position: relative;
}

.pg7_container .upper {
    border-bottom: 1px solid #5E5E5E;
}

.pg7_container .upper h1 {
    color: #fff;
    font-size: 3.5vw;
    line-height: 3.5vw;
    margin-top: 6vw;
    margin-bottom: 3.3vw;
}

.pg7_container .upper p {
    color: #fff;
    width: 40vw;
    font-size: 1.14vw;
    font-weight: 600;
    margin-bottom: 3.3vw;
}

.pg7_container .pg7_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}

.pg7_container .pg7_left {
    position: sticky;
    top: 3.1vw;
    align-self: start;
}

.pg7_left .left_contant {
    /* background-color: #0da34e; */
    color: #fff;
    font-size: 0.6vw;
    display: flex;
    gap: 11vw;
}

.left_contant h4 {
    /* border-bottom: 0.4px solid #7c7c7c; */
    margin-bottom: 0.4vw;
}

.pg7_left button {
    background-color: #4F5BFF;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 700;
    padding: 1.1vw 3.6vw;
    border-radius: 10vw;
    margin-top: 3.5vw;
    margin-bottom: 4.9vw;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
}

.pg7_left button span {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1;
}

.pg7_middle .cards,
.pg7_right .cards {
    /* border: 2px solid red; */
    height: 40vw;
    width: 22vw;
    padding-top: 1vw;
    border-top: 1px solid #7c7c7c;
    position: relative;
}

.pg7_middle .cards h1,
.pg7_right .cards h1 {
    color: #fff;
    font-size: 1.8vw;
    margin-bottom: 5vw;
}

.pg7_middle .cards p,
.pg7_right .cards p {
    color: #9b9b9b;
    font-size: 0.9vw;
    font-weight: 500;
    position: absolute;
    bottom: 21vw;
}

.pg7_middle .cards .video1 video,
.pg7_right .cards .video1 video {
    /* border: 2px solid red; */
    position: absolute;
    height: 35%;
    bottom: 5vw;
    border-radius: none;
}

.pg7_right .card1 h1 {
    color: #fff;
}

.pg7_right .card1 p {
    color: #fff;
}


#page8 {
    background-color: #111;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

#page8 .pg8_container {
    height: 100%;
    width: 66vw;
    display: flex;
    padding-top: 6.6vw;
    border-bottom: 1px solid #7c7c7cb2;
    position: relative;
}

#page8 .pg8_container .left {
    flex-basis: 33%;
    height: 100%;
    padding-top: 13vw;
    position: sticky;
    top: -11vw;
    align-self: self-start;
}

#page8 .pg8_container .right {
    flex-basis: 80%;
    height: 100%;
    padding-top: 1vh;
}

#page8 .left button {
    background-color: #0da34e;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 700;
    padding: 1.1vw 3.6vw;
    border-radius: 10vw;
    margin-top: 3.5vw;
    margin-bottom: 8vw;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
}

#page8 .left button span {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1;
}

#page8 .right .rt_top {
    padding-bottom: 4.8vw;
    border-bottom: 2px solid #fff;
}

#page8 .right .rt_top h1 {
    font-size: 3.6vw;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3.3vw;
    padding-right: 9vw;
}

#page8 .right .rt_top h2 {
    font-size: 1.7vw;
    font-weight: 400;
    color: #fff;
    line-height: 1.3;
    width: 100%;
}

#page8 .rt_bottom {
    padding-bottom: 8vw;
}

#page8 .right .rt_bottom .category_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 0;
}

#page8 .right .rt_bottom .category_heading h3 {
    font-size: 2vw;
    font-weight: 500;
}

#page8 .right .rt_bottom .toggle_icon {
    width: 2.8vw;
    height: 2.8vw;
    border: 1px solid #7c7c7ca1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
}

#page8 .right .rt_bottom .category_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 0;
    border-top: 1px solid #5555559c;
    background-image: linear-gradient(#111, #111), linear-gradient(#222222, #222222);
    background-repeat: no-repeat;
    background-position: top, top;
    background-size: 100% 0%, 100% 0%;
}

#page8 .right .rt_bottom .item_left {
    flex-basis: 35%;
    padding-right: 1.9vw;
}

#page8 .right .rt_bottom .item_left h3 {
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.3;
    gap: 3vw;
}

#page8 .right .rt_bottom .item_middle {
    flex-basis: 55%;
    padding-right: 1vw;
}

#page8 .right .rt_bottom .item_middle p {
    font-size: 0.7vw;
    font-weight: 500;
    color: #fff;
    line-height: 1.4;
}

#page8 .right .rt_bottom .item_right {
    flex-basis: 10%;
    text-align: right;
    font-size: 1vw;
    color: #fff;
}

.break {
    border: 2px solid #fff;
}

#page9 {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
}

.pg9_container {
    width: 66vw;
    margin: 0 auto;
}

.pg9_part1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 0;
}

.pg9_left h1 {
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 1.1;
}

.pg9_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    min-width: 20vw;
}

.pg9_right_top {
    margin-bottom: 2.5vw;
}

.pg9_right p {
    font-size: 0.7vw;
    color: #9b9b9b85;
    text-transform: uppercase;
    margin-bottom: 1.2vw;
    font-weight: 700;
}

.pg9_right_top a {
    color: #fff;
    text-decoration: none;
    font-size: 0.6vw;
    border: 2px solid #fff;
    border-radius: 2vw;
    padding: 0.3vw 1vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
}

.pg9_right_top a:hover {
    background-color: #fff;
    color: #111;
}

.pg9_right_middle h3 {
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.8vw;
}

.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.footer_links_col .social_links a {
    color: #fff;
  text-decoration: none;
  font-size: 0.6vw;
  border: 2px solid #fff;
  border-radius: 2vw;
  padding: 0.3vw 1vw;
  font-weight: 700;
}

.footer_links_col .social_links a:hover {
  background-color: #fff;
  color: #111;
}
.pg9_part2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    padding: 3vw 0;
    border-bottom: 1px solid #555;
}

.footer_links_col {
    display: flex;
    flex-direction: column;
}

.footer_links_col p {
    font-size: 0.7vw;
    color: #9b9b9b85;
    text-transform: uppercase;
    margin-bottom: 1.5vw;
    font-weight: 700;
}

.footer_links_col a {
    color: #fff;
    text-decoration: none;
    font-size: 0.7vw;
    margin-bottom: 0.6vw;
    font-weight: 600;
}

.footer_links_col a:hover {
    color: #0da34e;
}

.process_col {
    grid-column: 4 / 5;
}

.pg9_part3_sitemap {
    padding: 3vw 0;
}

.pg9_part3_sitemap>p {
    font-size: 0.7vw;
    color: #9b9b9b85;
    text-transform: uppercase;
    margin-bottom: 2.5vw;
    font-weight: 700;
}

.sitemap_columns {
    display: flex;
    justify-content: space-between;
}

.sitemap_col {
    display: flex;
    flex-direction: column;
    width: 24%;
}

.sitemap_col a {
    color: #fff;
    text-decoration: none;
    font-size: 0.7vw;
    margin-bottom: 0.6vw;
    font-weight: 600;
}

.sitemap_col a:hover {
    color: #0da34e;
}

.pg9_bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1vw 0;
    border-top: 1px solid #555;
}

.pg9_bottom_bar p {
    font-size: 0.7vw;
    color: #fff;
    font-weight: 500;
}